
@font-face {
                          font-family: "SFProText-Semibold";
                          src: url('../fonts/SF-Pro-Text-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Regular";
                          src: url('../fonts/SF-Pro-Text-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Bold";
                          src: url('../fonts/SF-Pro-Text-Bold.otf') format("opentype");
                        }
                        
.brandedsurvey {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 812px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.brandedsurvey .brandbg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 812px;
  width               : 2088px;
  position            : absolute;
  margin              : 0;
  left                : -856px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .blur {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 812px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 74px;
  height              : 490px;
  width               : 351px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .cardbg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 490px;
  width               : 351px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .companyname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 458px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 168px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.3;
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.brandedsurvey .surveycard .disclaimer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 458px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.3;
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.brandedsurvey .surveycard .a4answer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 389px;
  height              : 60px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .a4answer .cell {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .a4answer .selection {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 297px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .a4answer .selection .emptyselection {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .a4answer .response4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : auto;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(153, 157, 164, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.brandedsurvey .surveycard .a3answer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 331px;
  height              : 60px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .a3answer .cell {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .a3answer .selection {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 297px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .a3answer .selection .emptyselection {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .a3answer .response3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : auto;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(153, 157, 164, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.brandedsurvey .surveycard .a2answer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 273px;
  height              : 60px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .a2answer .cell {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .a2answer .check {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 297px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .a2answer .check .check1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .a2answer .response2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : auto;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(153, 157, 164, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.brandedsurvey .surveycard .a1answer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 215px;
  height              : 60px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .a1answer .cell {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .a1answer .response1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : auto;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(153, 157, 164, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.brandedsurvey .surveycard .a1answer .selection {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 297px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .a1answer .selection .emptyselection {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .questiontwolinemax {
  background-color    : rgba(255,255,255,0.0);
  top                 : 154px;
  height              : auto;
  width               : 295px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.brandedsurvey .surveycard .banner1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 128px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  border-radius       : 12px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .banner1 .notouchy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 128px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .banner1 .editthesymbol {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 128px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .banner1 .editthesymbol .bg {
  background-color    : rgba(202, 202, 208, 1.0);
  top                 : 0px;
  height              : 128px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .banner1 .editthesymbol .bg .mask {
  background-color    : rgba(202, 202, 208, 1.0);
  top                 : 0px;
  height              : 128px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .banner1 .editthesymbol .bg .brandbg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 128px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .banner1 .editthesymbol .earnbtz {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 24px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 223px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .banner1 .editthesymbol .earnbtz .bg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .banner1 .editthesymbol .earnbtz .earnbtz1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Semibold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : right;
  letter-spacing      : -0.13px;
  line-height         : 14.0px;
}
.brandedsurvey .surveycard .banner1 .editthesymbol .brands {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .banner1 .editthesymbol .brands .brands1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .surveycard .banner1 .editthesymbol .subtitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : auto;
  width               : 295px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "SFProText-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.brandedsurvey .surveycard .banner1 .editthesymbol .shopname {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : auto;
  width               : 295px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Bold", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.brandedsurvey .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 98px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 461px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 104px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 469px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .bitmap .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .standardbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 568px;
  height              : 64px;
  width               : 351px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .standardbutton .colormask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 64px;
  width               : 351px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .standardbutton .colormask .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 64px;
  width               : 351px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .standardbutton .colormask .primarycolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 48px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .standardbutton .colormask .primarycolor .color {
  background-color    : rgba(120, 195, 250, 1.0);
  top                 : 0px;
  height              : 48px;
  width               : 335px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .standardbutton .cta {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Semibold", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.brandedsurvey .topbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.brandedsurvey .topbar .cell {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 80px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
}
.brandedsurvey .topbar .settings {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 315px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}